<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Inicio</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding id="page1">
  <div class="spacer" style="width:300px;height:44px;" id="page-spacer1"></div>
  <img src="assets/img/bk7SgyuZQViYPF5ifhVd_fundo.png" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;"
  />

  <button ion-button block icon-start (click)="SolicitarCorrida()">
    <ion-icon name="md-search"></ion-icon>
    Buscar MotoTaxi
  </button>

  <!-- <ion-list *ngFor="let item of itemss | async"> -->
<div *ngFor="let item of itemss | async"> 
     <div *ngIf="((item.usuarioPerfil === 'Mototáxi') || (item.usuarioPerfil === 'Administrador')) && (item.$key ===administrador)"> 

      <ion-item>
        <ion-label>Receber Corrida</ion-label>
        <ion-checkbox color="blue" checked="false" [(ngModel)]="text"></ion-checkbox>
      </ion-item >
    </div> 
    </div> 


  <ion-list>
    <div *ngIf="text">
      <ion-item-sliding *ngFor="let item of items | async">

        <ion-item>
          <ion-icon name="ios-bicycle" item-start></ion-icon>
          {{ item.endereco}}
        </ion-item>

        <ion-item-options side="left">
          <button ion-button icon-only color="verde" (click)="aceitarItem(item)">
            <ion-icon name="md-checkmark"></ion-icon>
          </button>
          <button ion-button icon-only color="danger" (click)="removeItem(item)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-item-options>

      </ion-item-sliding>
    </div>
  </ion-list>


  <ion-list>
    <ion-item-sliding *ngFor="let item of CorridaAndamento | async">
      <ion-item>
        <ion-icon name="ios-bicycle" item-start></ion-icon>
        {{ item.endereco}}
      </ion-item>
      <ion-item-options side="left">
        <button ion-button icon-only color="verde" (click)="editItem(item)">
          <ion-icon name="md-checkmark"></ion-icon>
        </button>

      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>